<ng-container *ngIf="product.length !=0">
<div class="container">
    <div class="card-table">
        <div class="card-product">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>
                            Sr.no
                        </th>
                        <th>Product Name</th>
                        <th>Product Image</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of product; let i=index">
                        <td>{{i+1}}</td>
                        <td>{{item.title}}</td>
                        <td><img style="width: 120px;" src="{{item.image}}" alt=""></td>
                        <td>{{item.description}}</td>
                        <td>{{item.price}}</td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.total}}</td>
                        <td>
                            <button (click)="removeItem(item)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4"></td>
                        <td><button (click)="emptycart()" class="btn btn-danger">Empty Cart</button></td>
                        <td><button routerLink="/product" class="btn btn-primary">Shop More</button></td>
                        <td><button class="btn btn-success" routerLink="/product">CheckOut</button></td>
                        <td><strong>Grand Total : ${{grandTotal}}</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</ng-container>

<ng-container *ngIf="product.length ==0">
    <div class="caontainer" style="border: 1px solid black; margin: 50px;">
        <div class="card">
            <h5 style="font-size: large;" class="card-title">My cart</h5>
        </div>
        <div class="center">
            <img src="https://cdn.dribbble.com/users/3618930/screenshots/6596415/g3_1_4x.jpg?compress=1&resize=1000x750&vertical=top" alt="">
            <h4>your cart is empty !</h4>
            <h6>add item to it now</h6>
            <button routerLink="/product" class="btn btn-primary">shop now</button>
        </div>
    </div>
</ng-container>  
